
@font-face {
    font-family:"Blockbuster";
    src:url("Blockbuster.woff2") format("woff2"),url("Blockbuster.woff") format("woff"),url("Blockbuster.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        