
@font-face {
    font-family:"Lucida Grande Bold";
    src:url("Lucida Grande Bold.woff2") format("woff2"),url("Lucida Grande Bold.woff") format("woff"),url("Lucida Grande Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        